repos:
# nb-convert
-   repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
    -   id: nbstripout

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

- repo: local
  hooks:
    - id: ruff-check
      name: ruff check
      entry: ruff check --fix
      language: system
      types_or: [python, pyi, jupyter]
    - id: ruff-format
      name: ruff format
      entry: ruff format
      language: system
      types_or: [python, pyi, jupyter]
    - id: ty-check
      name: ty
      entry: ty check
      language: system
      types: [python]
      pass_filenames: false
